---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<hr>

<ol reversed>
{% for post in site.publications reversed %}
  <li style="margin-bottom: 15px;">
    {{ post.citation }}
    <a href="{{ post.paperurl }}" style="color: #9E1B32; text-decoration: underline; border-bottom: none;">[arXiv]</a>
    {% if post.puburl %}
      | <a href="{{ post.puburl }}" style="color: #9E1B32; text-decoration: underline; border-bottom: none;">[Journal]</a>
    {% endif %}
  </li>
{% endfor %}
</ol>
