---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
mathjax: true
---
<hr>

<ol reversed>
{% for post in site.publications reversed %}
  <li style="margin-bottom: 15px;">
    {{ post.citation }}
    <a href="{{ post.paperurl }}" style="color: #9E1B32; text-decoration: underline; border-bottom: none;">[arXiv]</a>
    {% if post.puburl %}
      | <a href="{{ post.puburl }}" style="color: #9E1B32; text-decoration: underline; border-bottom: none;">[Journal]</a>
    {% endif %}
  </li>
{% endfor %}
</ol>

<hr>

<h3>Collaborators</h3>
<ul>
  <li><a href="https://www.ucm.es/imi/rutwig-campoamor-stursberg" style="color: #9E1B32; text-decoration: underline; border-bottom: none;">Rutwig Campoamor-Stursberg</a> (UCM)</li>
  <li><a href="https://investigacion.ubu.es/investigadores/35246/detalle" style="color: #9E1B32; text-decoration: underline; border-bottom: none;">Francisco José Herranz</a> (UBU)</li>
  <li><a href="https://www.fuw.edu.pl/~delucas/" style="color: #9E1B32; text-decoration: underline; border-bottom: none;">Javier de Lucas</a> (UW)</li>
  <li>Adam Maskalaniec (UW)</li>
  <li>Tomasz Sobczak (UW)</li>
</ul>

<hr>

<!-- MathJax Injection script to fix list parsing errors -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
